html{
    font-size: 20px;
}
body {
    margin: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.header {
    background-image: url("../image/Rectangle.png");
    height: 100vh;
    background-size: cover;
    padding-top: 1rem;
    box-sizing: border-box;
}
.header__navigation{
    position: relative;
    height: 100px;
}
.header__navigation-logo {
    position: absolute;
    left: 0;
    top: 0;
}
.header__navigation-menu{
    position: absolute;
    top: 0;
    right: 0;
}
.header__info{
    text-align: center;
    padding-top: 5rem;
    box-sizing: border-box;
    text-transform: uppercase;
}
.header__info-title{
    font-size: 3.2rem;
    color: white;

}
.header__info-subtitle{
font-size: 0.9rem;
color: white;
line-height: 16px;
}